@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 21px;
    background: #F2F2F2;
    color: #333333;
    margin: 0;
}

/* Header */

.navigation-link {
    color: inherit;
    text-align: center;
    font-weight: 700;
    background-color: #FFFFFF;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-right: 70px;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-item {
    margin: 0;
    padding: 0;
}

.navigation-link {
    display: block;
    margin: 0;
    padding: 20px 17px 19px;
}

.navigation-link-search {
    background-image: url("../images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-link-likes {
    background-image: url("../images/icons/favorites.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.selected-number {
    display: none;
}

/* .navigation-list.navigation-user {
    width: 264px;
    height: 66px;
    margin-left: auto; 
    margin-right: 70px; 
}  */

.navigation-user .navigation-link {
    box-sizing: border-box;
    min-width: 45px;
    min-height: 65px;
}

.page-header {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    background: #FFFFFF;
    margin: 0 auto;
    width: 1200px;
    min-height: 65px;
}

.navigation-link-invitation {
    width: 160px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 15px 8px 15px;
    text-align: center;
    background-color: #756157;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin-top: 14px;
    margin-bottom: 14px;

}

/* Main */

.main-index {
    margin-top: -5px;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

/* Section Logo-sedona */

.logo-sedona {
    padding-bottom: 90px;
    background-color: #FFFFFF;
}

.logo-container {
    box-sizing: border-box;
    width: 1200px;
    height: 485px;
    padding-top: 51px;
    margin-bottom: 63px;
    background-image: url("../images/logo-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #756157;
}

.logo {
    display: block;
    margin: 0 auto;
}

.logo-sedona-description {
    width: 620px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 31px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.logo-sedona-cause {
    width: 655px;
    margin: 0 auto;
    text-align: center;
}

/* Section Advantages */

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
}

.advantages-item {
    display: flex;
    width: 400px;
    min-height: 384px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage {
    min-width: 400px;
    box-sizing: border-box;
    padding: 92px 85px 20px;
}

.advantage-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 0 29px;
    margin: 0 auto 30px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.advantage-title-special {
    margin-top: 90px;
}

.advantages-item-eat {
    background-color: #FFFFFF;
}

.advantages-item-road {
    background: rgba(131, 179, 211, 0.2);
}

.advantage-number {
    margin: 0 auto 30px;
}

.advantage-description {
    margin: 0 auto;
    padding: 0;
}

.advantages-item-blue .advantage-title {
    color: #FFFFFF;
}

.advantage-special {
    background-position: center 80px;
    background-repeat: no-repeat;
}

.advantage-special-housing {
    background-image: url("../images/advantages/home-icon.svg");
}

.advantage-special-eat {
    background-image: url("../images/advantages/food-icon.svg");
}

.advantage-special-souvenirs {
    background-image: url("../images/advantages/souvenir-icon.svg");
}

.advantages-item.advantages-item-blue {
    width: 100%;
    background-color: #82B3D3;
    color: #FFFFFF;
}

.hotel-search {
    width: 1200px;
    padding-top: 91px;
    padding-bottom: 90px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.hotel-search h2 {
    width: 300px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.hotel-search p {
    margin: 0 auto 55px;
    width: 600px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.hotel-search-button.button-brown {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 12px 15px;
    width: 574px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.hotel-search-button-text {
    display: block;
    text-align: center;
}

.button-brown {
    background-color: #756157;
    color: #FFFFFF;
}

.subscription {
    width: 1200px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 94px 200px;
}

.subscription-main {
    background-image: url("../images/subscribe-background.jpg");
    background-repeat: no-repeat;
    background-color: #756157;
}

.subscription-content {
    width: 800px;
    margin: 0 auto;
}

.subscription h2 {
    width: 100%;
    margin: 0 auto 30px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscription.subscription-catalog h2 {
    color: #000000;
}

.subscription p {
    width: 100%;
    margin: 0 auto 45px;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.subscription-catalog p {
    color: #333333;
}

.subscription-form {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
}

.subscription-button {
    width: 200px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscription-field {
    flex-grow: 1;
}

.subscription-catalog .subscription-field {
    flex-grow: 1;
    background-color: #F2F2F2;
}

.footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.page-footer-container {
    background-color: #FFFFFF;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 70px 40px 70px;
    box-sizing: border-box;
}

.social-footer {
    margin: 0;
    padding: 0;
    width: 145px;
    margin-right: 237px;
}

.footer-social-list {
    width: 142px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social-item-contact {
    background-image: url("../images/social-icons/vk.svg");

}

.footer-social-item-telegram {
    background-image: url("../images/social-icons/telegram.svg");
}

.footer-social-item-youtube {
    background-image: url("../images/social-icons/youtube.svg");
}

.link-footer {
    margin-left: auto;
    max-width: 120px;
}

/* стилизация каталога */

.main-hotel {
    color: #FFFFFF;
}

.hotel-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/filter-background.jpg");
    background-color: #756157;
    background-repeat: no-repeat;
    padding: 35px 70px 70px;
}

.hotel-filters h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.hotel-filters-form {
    display: flex;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-link-main {
    background-image: url("../images/icons/main.svg");
}

.breadcrumbs-item-hotel {
    margin-bottom: 40px;
}

.searching-container {
    display: flex;
    padding: 50px 72px 56px;
}

.searching-results {
    background-color: #FFFFFF;
}

.searching-select-control {
    width: 290px;
    height: 49px;
    display: flex;
    background-color: #FFFFFF;
    padding: 14px 97px 14px 20px;
    margin-right: 78px; 
}

.searching-results-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin: auto;
    margin-left: 0;
    padding: 0;
}

.searching-layout-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.searching-layout-item {
    box-sizing: border-box;
    min-width: 48px;
    min-height: 48px;
    border: 1px solid #000000;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.searching-layout-item-list {
    background-image: url("../images/view-icons/list.svg");
}

.searching-layout-item-card {
    background-image: url("../images/view-icons/slideshow.svg");
}

.searching-layout-item-signature {
    background-image: url("../images/view-icons/tile.svg");
}

.

.searching-layout-item:last-child {
    margin-right: 0;
}

.hotel-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 72px;
    gap: 18px;
}

.hotel-card {
    width: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: #333333;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    margin-bottom: 16px;  
}

.hotel-card-image {
    margin-bottom: 16px;
}

.hotel-card-description {
    display: flex;
    margin-bottom: 16px;
}

.hotel-card-actions {
    display: flex;
    margin-bottom: 16px;
}

.hotel-card-name {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 20px;
}

.hotel-card-price {
    flex-grow: 1;
    flex-basis: 0;
}

.hotel-card-button-left {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
    margin-right: 20px;
    padding: 9px 15px; 
    background-color: #756157;
}


.hotel-card-button-right {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
    padding: 9px 15px;
    background-color: #82B3D3; 
}

.rating {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    /* background-color: #F2F2F2; */
}

.rating-star-list {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    list-style-type: none;
}

.rating-star-item {
    box-sizing: border-box;
    min-width: 18px;
    min-height: 18px;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/icons/star.svg");
}

.rating-number {
    display: block;
    padding: 9px 0;
    text-align: center;
    background-color: #F2F2F2;
    flex-grow: 1;
    flex-basis: 0;
}

.hotel-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hotel-card-button-right.button-selected {
    background-color: #7DB54F;
}

.subscriptions {
    background-color: #FFFFFF;
}

.subscriptions h2 {
    width: 405px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.subscriptions p {
    width: 480px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.subscription-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscribe {
    background-color: #82B3D3;
}

.pagination {
    display: flex;
}

.searching-results-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding: 30px;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-button {
    display: block;
    width: 60px;
    height: 60px;
    padding: 12px 25px 13px 24px;
    box-sizing: border-box;
    line-height: 36px;
    font-style: 700;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
}